<ul class="serviceEntry">
    <li>
        <a href="#">
            <i class="icon">
                <img src="https://m.360buyimg.com/babel/jfs/t1/30057/19/14881/720/5cbf064aE187b8361/eed6f6cbf1de3aaa.png"
                    alt="" />
                <img src="https://m.360buyimg.com/babel/jfs/t1/45423/33/385/778/5cd4f265E442a9342/0aff0a42cece09ee.png"
                    alt="" />
            </i>
            <span>话费</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon">
                <img src="https://m.360buyimg.com/babel/jfs/t1/36478/38/5384/2901/5cbf065aEb0c60a12/afb4399323fe3b76.png"
                    alt="" />
                <img src="https://m.360buyimg.com/babel/jfs/t1/34261/15/10242/3120/5cd4f256E10257aba/8f3f63ae04ff19af.png"
                    alt="" />
            </i>
            <span>机票</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="sheng">省</i>
            <i class="icon">
                <img src="https://m.360buyimg.com/babel/jfs/t1/31069/34/14642/979/5cbf0665Ec7dc8223/5fee386254dd2ebc.png"
                    alt="" />
                <img src="https://m.360buyimg.com/babel/jfs/t1/44601/19/915/1039/5cd4f1cfE2e46473c/b61f083872a7a1de.png"
                    alt="" />
            </i>
            <span>酒店</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon">
                <img src="https://m.360buyimg.com/babel/jfs/t1/32403/22/14829/3699/5cbf0674E04723693/caa83ce9b881cd24.png"
                    alt="" />
                <img src="https://m.360buyimg.com/babel/jfs/t1/57520/8/375/4092/5cd4f1d8Ea1266047/1c590322ece537ba.png"
                    alt="" />
            </i>
            <span>游戏</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon">
                <img src="https://m.360buyimg.com/babel/jfs/t1/71890/14/9897/3048/5d7739ddE93eb94f8/f1f6dc5c207329f9.png"
                    alt="" />
                <img src="https://m.360buyimg.com/babel/jfs/t1/36002/35/9106/3311/5cd4f1bdE06ff07ed/9570fdd46ecd3a76.png"
                    alt="" />
            </i>
            <span>加油卡</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon">
                <img src="https://m.360buyimg.com/babel/jfs/t1/45761/32/10307/1581/5d7739e2Ece4b6671/0004c1b85fbf7bde.png"
                    alt="" />
                <img src="https://m.360buyimg.com/babel/jfs/t1/58891/36/278/1745/5cd4f1e0Ef4cc50a7/f12276b17e5dcf3b.png"
                    alt="" />
            </i>
            <span>火车票</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon">
                <img src="https://m.360buyimg.com/babel/jfs/t1/51584/31/10221/1685/5d7739e7E1adb25cd/1d0957d7f2ae01a2.png"
                    alt="" />
                <img src="https://m.360buyimg.com/babel/jfs/t1/50929/1/374/1847/5cd4f1eaE5daf90db/cebbff76b25dc22e.png"
                    alt="" />
            </i>
            <span>众筹</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon">
                <img src="https://m.360buyimg.com/babel/jfs/t1/52683/35/10394/3447/5d7739edE270aa7b3/d4d1151b09b5553b.png"
                    alt="" />
                <img src="https://m.360buyimg.com/babel/jfs/t1/47544/23/372/3943/5cd4f24eE92fbcf79/4b49b55af25a7bdf.png"
                    alt="" />
            </i>
            <span>理财</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon">
                <img src="https://m.360buyimg.com/babel/jfs/t1/56296/3/10260/1443/5d7739f3E233abc53/e6976f3cb30c9a8a.png"
                    alt="" />
                <img src="https://m.360buyimg.com/babel/jfs/t1/39983/24/6834/1596/5cd4f247E8cf89f1e/b8a8418d5418f471.png"
                    alt="" />
            </i>
            <span>白条</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon">
                <img src="https://m.360buyimg.com/babel/jfs/t1/60778/37/9838/3066/5d7739faEd3b7dbb9/dd4d9ef7ce8fc169.png"
                    alt="" />
                <img src="https://m.360buyimg.com/babel/jfs/t1/41106/15/4551/3300/5cd4f1c7E507148c7/90a218f053e903d2.png"
                    alt="" />
            </i>
            <span>电影票</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon">
                <img src="https://m.360buyimg.com/babel/jfs/t1/40738/20/14562/826/5d773a01E09eb8121/d6f3909618c6307a.png"
                    alt="" />
                <img src="https://m.360buyimg.com/babel/jfs/t1/45316/3/388/884/5cd4f25eEea4c67ed/671f7c186c5e9b01.png"
                    alt="" />
            </i>
            <span>企业购</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon">
                <img src="https://m.360buyimg.com/babel/jfs/t1/57014/6/10297/815/5d773a07Ec7a61fc9/97917a2daa34be0f.png"
                    alt="" />
                <img src="https://m.360buyimg.com/babel/jfs/t1/55911/31/402/858/5cd4f23eE6f536460/5da079255c6dfabe.png"
                    alt="" />
            </i>
            <span>礼品卡</span>
        </a>
    </li>
</ul>

<!-- 弹出层 -->
<div class="servicePop">
    <div>各个模块内容</div>
    <div class="close">
        <i class="iconfont icon-guanbi"></i>
    </div>
</div>

<script>
    (function () {
        //鼠标放到li身上
        $('.serviceEntry li:nth-child(-n+4)').mouseenter(function () {
            $('.serviceEntry li:nth-child(-n+3)').animate({//前三个动的位置相同
                top: -30
            });
            if ($(this).index() == 3) {//第四个图标走的位置 (当移入的是第四个图标时，前面三个走的top值还是-30)
                $(this).animate({
                    top: -84
                })
            }
            $('.servicePop').animate({ // 弹出模块内容
                top: 30
            });
            $(this).addClass('active').siblings().removeClass('active')// 给当前li添加边框(下划线)
        })
        $('.servicePop .close').click(function(){ // 关闭模块内容
            $('.servicePop').animate({
                top: 214
            })
            $('.serviceEntry li:nth-child(-n+4)').animate({ //所有的小图标回到原位 这里注意要将li设置为相对定位，这样归位的时候就可以直接top ：0
                top: 0
            })
            $('.serviceEntry .active').removeClass('active') // 清除边框(下划线)

        })
    })()
</script>