<span class="red">陕西</span>
<ul class="nav">
    <li>
        <a href="#">您好，请登陆</a>
        <a href="#" class="red">免费注册</a>
    </li>
    <li>
        <a href="#">我的订单</a>
    </li>
    <li class="drop">
        <div class="item">
            <a href="#">我的京东</a>
            <span class="iconfont icon-xia small"></span>
        </div>
        <div class="dropdown myjd">
            <ul>
                <li><a href="#">待处理订单</a></li>
                <li><a href="#">我的问答</a></li>
                <li><a href="#">返修退换货</a></li>
                <li><a href="#">我的关注</a></li>
                <li><a href="#">降价商品</a></li>
            </ul>
            <ul>
                <li><a href="#">我的京豆</a></li>
                <li><a href="#">我的优惠卷</a></li>
                <li><a href="#">我的白条</a></li>
                <li><a href="#">我的理财</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#">京东会员</a>
    </li>
    <li class="drop">
        <div class="item">
            <a href="#" class="red">企业采购</a>
            <span class="iconfont icon-xia small"></span>
        </div>
        <div class="dropdown company">
            <ul>
                <li><a href="#">企业购</a></li>
                <li><a href="#">商业场景馆</a></li>
                <li><a href="#">工业品</a></li>
                <li><a href="#">丰客多商城</a></li>
                <li><a href="#">礼品卡</a></li>
                <li><a href="#">微信企业购</a></li>
                <li><a href="#">工品优选</a></li>
                <li><a href="#">京东锦礼</a></li>
                <li><a href="#">在中型企业采购</a></li>
            </ul>
        </div>
    </li>
    <li><a href="#">客户服务</a></li>
    <li><a href="#">网站导航</a></li>
    <li><a href="#">手机京东</a></li>
    <li><a href="#">无障碍服务</a></li>
</ul>