<a href="#" class="brandItem">
    <img src="//img20.360buyimg.com/seckillcms/s130x130_jfs/t18688/323/1513246642/278276/98935447/5ace100cN6313ff43.jpg.webp">
    <span>食品酒饮品类秒杀</span>
    <strong>爆款低至9.9</strong>
    <button href="#">品类秒杀<i class="iconfont icon-you"></i></button>
</a>
<a href="#" class="brandItem">
    <img src="//img10.360buyimg.com/seckillcms/s130x130_jfs/t1/213737/17/10672/341465/61dba3a2E2553deea/35f4b6c793d735ad.jpg.webp">
    <span>JBL品牌狂欢购</span>
    <strong>爆款低至9.9</strong>
    <button href="#">品类秒杀<i class="iconfont icon-you"></i></button>
</a>
<a href="#" class="brandItem">
    <img src="//img13.360buyimg.com/seckillcms/s130x130_jfs/t1/205225/7/12519/434818/617a7c35Ef2abc784/95ed058069b3a1a9.jpg.webp">
    <span>壳牌机油秒杀专场</span>
    <strong>爆款低至55元</strong>
    <button href="#">品牌秒杀<i class="iconfont icon-you"></i></button>
</a>